body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

#main-animais {
    background-color: #43595f;
    padding: 20px;
}

#titulo {
    color: white;
}

#animais {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.animais-item {
    border: 1px solid #043F41;
    border-radius: 12px;
    overflow: hidden;
    padding: 15px;
    text-align: center;
    background-color: #0E3032;
    max-width: 350px;
}

.animais-item img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 10px;
}

.animais-item h2 {
    color: white;
    margin: 10px 0 5px;
}

.info-animal h3 {
    color: rgba(255, 255, 255, 0.678);
    font-size: 16px;
    font-weight: 100px;
}

.info-animal a {
    color: white;
}

.info-animal a:hover {
    color: #ffaa00;
}